/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos básicos do corpo */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
}

/* Estilos do cabeçalho */
header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

h1 {
    font-size: 1.8em;
    margin-right: 20px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 1.2em;
}

/* Estilos do rodapé */
footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
