body {
    background-color: #1a1a1a;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #333; /* Cor de fundo para o cabeçalho */
    padding: 10px 20px; /* Espaçamento interno para o cabeçalho */
    z-index: 1000; /* Certifique-se de que o cabeçalho fique acima de outros elementos */
}

.logo h1 {
    margin: 0;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
}

.nav-links a:hover {
    border-bottom: 2px solid #fff;
}

/* Adicione margem superior ao corpo para compensar o espaço ocupado pelo cabeçalho fixo */
body {
    margin-top: 70px;
}

/* Restante do estilo permanece inalterado */
